@charset "utf-8";

@font-face {
    font-family: andoid;
    src: url('../fontes\android.otf') format('opentype');
    font-weight: normal;
}
:root {
    --cor0: #ebe5c5;
    --cor01: #c5ebd6;
    --cor02: #86e1ad;
    --cor03: #3ddc84;
    --cor04: #2fa866;
    --cor05: #1a5c37;
    --cor06: #063d1e;
    --font-padrao: arial,verdana, helvetica, sans-serif;
    --font-destaque: 'bebas Nue', cursive;
    --font-android: 'Android', cursive;
}
* {
    margin: 0px;
    padding: 0px;
    /* o "Asterisco" determina que tudo aborde tais configurações predefinidas*/
}

body {
    background-color: var(--cor0);
    font-family: var(--font-padrao);
}
a.externo::after {
    content: '\00A0\1F517';
}

header {
    background-image: linear-gradient( var(--cor03), var(--cor05)); /*variação de degradê das cores*/
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}
header > h1 {
    color: white;
    font-family: var(--font-destaque);
    font-size: 3em;
    padding-bottom: 50px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 267);
}
header > p {
    font-family: var(--font-destaque);
    font-size: 1.2em;
    color: white;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    padding-bottom: 50px;
}
nav {
    background-color: var(--cor05);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 267) ;
}
nav > a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 1s;
}
nav > a:hover {
    background-color: var(--cor03);
    color: var(--cor05);
}
main {
    min-width: 300px; /*resolução minima suportada por cada dispositivos*/
    max-width: 1000px; /*resolução máxima suportada por cada dispositivo*/
    background-color: white;
    margin: auto;
    margin-bottom: 30px; /*Ver efeito entre blocos */
    padding: 20px; /*espacamento entre blocos*/
    box-shadow: 0px 0px 10px black; /*sombreamento */
    border-bottom-left-radius: 10px; /*arredondamento das bordas*/
    border-bottom-right-radius: 10px;
}
main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor06);
    background-color: var(--cor03);
    padding: 2px 6px;
}
main a :hover {
    text-decoration: underline;
    color: var(--cor04);
}
main h1 {
    color: var(--cor05);
    font-family: var(--font-android);
}
main h2 {
    font-family: var(--font-android);
    color: var(--cor04);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor02), transparent);
}
main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}
main strong {
    color: var(--cor04);
    font-weight: bold;
    background-color: var(--cor01);
    padding: 2px 6px;
}
main img {
    width: 100%;
}
main img.pequena {
    width: auto;
    display: block;
    margin: auto;
}
div.video {
    background-color: var(--cor05);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 57.5%;   
    position: relative;
}
div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside {
    background-color: var(--cor01);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 9px 3px 8px rgba(0, 0, 0, 267);
}
aside > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
    
}
aside h3 {
    background-color: var(--cor04);
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
footer {
    background-color: var(--cor05);
    color: white;
    border-radius: 0px;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
    color: var(--cor01);
}
